@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

.photo{
    border-radius: 20%;
    border: 2px solid rgb(255, 255, 255);
}
body{
    background-color: #242F40;
    margin: auto;
    max-width: fit-content;
    max-height: fit-content;
}

div{
    background-color: white;
    text-align: center;
    margin-top: 10px;
    border-radius: 2%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
}
h1{
    font-size: 35px;
}
h2{
    margin-bottom: 2px;
    font-size: 25px;
    margin: auto;
}
li {
    list-style-type: none;
}

footer{
    text-align: center;
}

footer > p {
    margin: 8px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
.post_title{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.data{
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    color: black;
    margin-top: 2px;
    margin-bottom: 20px;
}
.dataatv{
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    color: black;
    margin-top: 2px;
    margin-bottom: 20px;
}
.post_content{
    margin: auto;
    margin-bottom: 20px;
    text-indent: 30px;
    text-align: justify;
    max-width: 900px;
    padding: auto;
}