.formulario{
    width: 35vw;
    flex-direction: column;
 }

.formulario-input{
    height: 30vh;
}

.contato-esquerda{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0px auto;
}

.titulo-contato{
    text-align: center;
    margin-bottom: 1rem;
}

.contato-esquerda > a{
    text-align: center;
}


.button-contato{
    width: 10vw;
    height: 7vh;
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-contato{
    height: 20px;
    margin-right: 5px;
    background: none;
}

.linkedin{
    background-color: #0e76a8;
}

.GitHub{
    background-color: #171515;
}

.whatsapp{
    background-color: #25D366;
}

.image-contato{
    display: flex;
    justify-content: center;
    margin-right: 0.25rem;
}

.image-contato > img{
    width: 500px;
    height: 485px;
    border-radius: 5px;
}

.seccao-contato{
    display: flex;
    height: 90vh;
    margin-top: .5rem;
    justify-content: center;
}
 
.input-padrao{
    display: block;
    padding: 20px 10px;
    width: 90%;
    font-size: 0.80rem;
    border: 1px solid white;
    border-radius: 5px;
}

.enviar{
    width: 20%;
    padding: 10px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-container {
    position: relative;
    margin-bottom: 0.8rem;
}

.mensagem{
    height: 30vh;
}

.input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.input:focus {
    outline: none;
}

.input-label {
    font-size: 1.2rem;
    position: absolute;
    top: 0.35rem;
    left: 0.35rem;
    transition: all .25s;
}

.input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all .25s;
}