.botao-inicio{
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/inicio.png) no-repeat center center;
    z-index: 998;
    background-size: 100%;
    opacity: .33;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all .5s;
}

.botao-inicio:hover{
    opacity: 1;
}

.paragrafo{
    height: 4vh;
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
}