.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4vh;
    height: 10vh;
}

.logo{
    margin-left: 10vw;
}

.logo-imagem{
    height: 50px;
}

.nav_bar{
    margin-right: 5vw;
}

.nav_item{
    margin-left: 3vw;
    text-decoration: none;
    transition: all .1s;
}