.sobre_min{
    height: 80vh;
    margin-top: 10vh;
    display: flex;
}

.text-sobre{
    margin-top: 20vh;
}

.title-sobre{   
    margin-bottom: 10vh;
}

.img-prof{
    text-align: center;
}
.img-profile{
    height: 100%;
    border-radius: 10px;
}