[data-bs-theme="dark"] {
    --bs-body-bg: #070707;
}

.img-principal {
    width: 80%;
    border-radius: 10px;
    margin: auto;
}

.header {
    position: sticky;
}

.paragrafo {
    text-align: justify;
    text-indent: 20px;
}

.lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.lista > a{
    text-decoration: none;
    color: white;
}

.titulo-base {
    text-align: center;
    text-transform: capitalize;
    font-size: 3.5vw;
    margin-bottom: 2rem;
}

.item__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__imagem {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100px;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.item__nome {
    font-size: 1rem;
    margin: 1rem 0;
}

.item__typescript {
    background-image: url(../img/typescript.svg);
}

.item__nestjs {
    background-image: url(../img/NestJS.svg);
}

.item__typeorm {
    background-image: url(../img/typeorm.svg);
}

.item__react {
    background-image: url(../img/react-javascript-js-framework-facebook-svgrepo-com.svg);
}

.item__sql {
    background-image: url(../img/sql.svg);
}

.item__github {
    background-image: url(../img/github-color-svgrepo-com.svg);
}

.botao-inicio {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/inicio.png) no-repeat center center;
    z-index: 998;
    background-size: 100%;
    opacity: .33;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    left: 10px;
    transition: all .5s;
}

.botao-inicio:hover {
    opacity: 1;
}

.mensagem {
    height: 15vh;
}

.text{
    font-family: monospace;
    color:dodgerblue; 
    text-decoration: none;
}

[data-anime]{
    opacity: 0;
    transition: 1s;
}

[data-anime="down"]{
    transform: translate3d(0, -100%, 0);
}

[data-anime="up"]{
    transform: translate3d(0, 100, 0);
}

[data-anime="left"]{
    transform: translate3d(-100%, 0, 0);
}

[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);

}

.card-text{
    min-height: 100px;
}




@media (max-width: 991px){
    .flex-lg-row-reverse{
        justify-content: center;
    }

    .text-center{
        padding-bottom: 50px;
    }
    
    .titulo-base{
        font-size: calc(1.375rem + 1.5vw);
    }

    .botoes{
        margin-bottom: 10px;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        justify-items: center;
    }
}